* text=auto
*.md text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8
*.py text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
